NET clk LOC = V10 | TNM_NET = sys_clk_pin | IOSTANDARD = "LVCMOS33";
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;
NET rst_n                 LOC = N4 | IOSTANDARD = "LVCMOS15";       ## reset pushbutton
##################################################################################
NET led               LOC = V5 | IOSTANDARD = "LVCMOS33";       ## LED1
##################################################################################
NET key_in0               LOC = P7 | IOSTANDARD = "LVCMOS33";       ## KEY1
##################################################################################
#USB Serial RS232 Pin define
NET tx                     LOC = C4 | IOSTANDARD = "LVCMOS33"; 	    ## Uart TXD:U4_RXD